<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="header">
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="/css/sign.css" >
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="/css/whole.css">
    <link rel="stylesheet" href="/css/title.css">
    <link rel="stylesheet" href="/css/scroll.css">
    <script src="/js/index.js"></script>
    <script src="/js/spot.js"></script>
    <script src="/js/animate.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script type="text/javascript" src="/js/index_search.js"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
    <title>주변 문화 추천</title>
</head>