<!--문자알림 모달-->
<div id="subs-modal" class="modal">
  <div id="subs-modal-content">
    <span class="close">&times;</span>
    <h2 class="subs-head">문자알림 신청</h2>
    <span class="subs-text">기다리는 행사가 있나요? 문자로 오픈일을 알려드립니다. <br> 휴대폰 번호를 남겨주세요!</span>
    <form id="subs-form">
      <label for="phone">휴대폰 번호:</label>
      <input class="subs-input" type="text" id="phone" name="phone" required><br><br>
      <label for="keyword">알림을 원하는 행사:</label>
      <input class="subs-input" type="text" id="keyword" name="keyword" required><br><br>
      <span class="subs-text">예시: 구체적인 행사명을 남겨주세요 (한강페스티벌 / 멍때리기 대회 / 불꽃축제)</span>
      <br>
      <button class="subs-submit" type="button" id="subs-submit-button">알림 신청하기</button>
    </form>
  </div>
</div>
<script src="/js/input_phone_number.js"></script>
<script src="/js/submit_phone_number.js"></script>