.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
}

#main-title{
    margin : 0 auto;
    align-items : center;
}

#main-title h3{
    margin-top : 0;
    margin-bottom : 0;
    text-align : center;
}

/* 정렬 세팅*/
table {
    display: flex;
    justify-content: center;
    align-items: center;
    border-spacing: 20px;
}

tbody {
    text-align: center;
}

/*/ 그 외*/

.question {
    width: 100%;
    position: relative;
}

.mainInput {
    text-align: center;
    border-radius: 20px;
    border-color: chocolate;
    border-width: medium;
    border-style: ridge;
    height: 2.2rem;
    width: -webkit-fill-available;
}


.tagify__input {
    margin: 0px !important;
}

.tagify{
    overflow: auto;
    flex-wrap:nowrap;
    min-width: 100%;
    height: fit-content;
}

/*number타입 인풋에서 화살표없애기*/
/* Chrome, Safari, Edge, Opera */
/* Firefox  */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type='number'] {
    -moz-appearance: textfield;
}


/*검색창*/
#searchResults > div.active {
    font-size: larger;
    padding: 3px 0px;
    background-color: rgba(255,255,255,0.4);
}

.mark, mark {
    font-weight: bold;
    background-color: transparent !important;
    padding: 0px;
}

#searchBox {

}

#searchResults {
    overflow-y: scroll;
    max-height: 110px;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 0px 0px 20px 20px;
    position: absolute;
    width: 11rem;
    margin-left: 0.7rem;
}

#moods {
    background: white
}

#submitBtn {
    margin-top: 30px;
    width: 100px;
    height: 30px;
    border-radius: 20px 20px;
    border: 5px black;
    background: lightgreen;
}