.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }
}

#main-title {
    margin: 0 auto;
    align-items: center;
}

#main-title h3 {
    margin-top: 0;
    margin-bottom: 0;
    text-align: center;
}

/* 정렬 세팅*/

#contentBody {
    text-align: -webkit-center;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

#inputContainer {
    margin: 1% 0;
    overflow: hidden;
}

/*/ 그 외*/
.question {
    margin: 16px 0px;
}

.mainInput {
    text-align: center;
    border-radius: 20px;
    border-color: chocolate;
    border-width: medium;
    border-style: ridge;
    height: 2.2rem;
    width: 70%;
    max-width: 273px;
    min-width: 160px;
}


.tagify__input {
    margin: 0px !important;
}

.tagify {
    height: 2.2rem;
    overflow: auto;
    flex-wrap: nowrap;
    height: fit-content;
}

.qesLabel {
    font-size: large;
    margin-bottom: 0.39rem;
    font-weight: 500;
    text-shadow: 1px 1px lightgrey;
}

/*number타입 인풋에서 화살표없애기*/
/* Chrome, Safari, Edge, Opera */
/* Firefox  */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type='number'] {
    -moz-appearance: textfield;
}


/*검색창*/
#searchResults > div.active {
    font-size: larger;
    padding: 3px 0px;
    background-color: rgba(255, 255, 255, 0.4);
}

.mark, mark {
    font-weight: bold;
    background-color: transparent !important;
    padding: 0px;
}

#searchResults {
    max-width: 252px;
    min-width: 140px;
    height: fit-content;
    width: 48%;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 0px 0px 20px 20px;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0%);
}

.spot {
    min-height: 31px;
    height: fit-content;
    align-content: center;
    word-break: keep-all;
}

#moods {
    background: white
}

#submitBtn {
    text-align: center;
    width: 100%;
    height: 100%;
    border: 5px black;
    background: transparent;
    font-style: italic;
    font-size: 4rem;
    text-align: center;
    color: #1cd3e2;
    font-family: "Meta", sans-serif;
    text-shadow: 3px 2px 0px #e601c0, 5px 5px 0px #e9019a, 6px 6px 0px #f40468, 7px 7px 5px #482896;
    cursor: pointer;
    font-weight: 800;
}


/*여기서부터 체크박스 및 라디오버튼*/
.select {
    padding: 8px 0px;
}
.select input[type=radio]{
    display: none;
}
.select input[type=radio]+label {
    display: inline-block;
    cursor: pointer;
    height: fit-content;
    width: fit-content;
    padding: 3px 10px;
    margin: 0px 2px;
    font-weight: bold;
    align-content: center;
    font-size: 11px;
    background-color: #fff;
    border-radius: 3px;
    color: #333;
    box-shadow: 1px 4px 0 rgb(0,0,0,0.5);

}
.select input[type=radio]:checked+label {
    top: 4px;
    background-color: #ae0085;
    color: #fff;
    box-shadow: 1px 1px 0 rgb(0,0,0,0.5);
    position: relative;
}

.select input[type=radio]+label:hover {
    /*background-color: #ae0085;*/
    /*color: #fff;*/
}

/* 체크박스 스타일 */
.checkBox {
    padding: 8px 0px;
}
.checkBox input[type=checkbox] {
    display: none;
}
/* 체크박스 라벨 스타일 */
.checkBox input[type=checkbox]+label {
    display: inline-block;
    cursor: pointer;
    height: fit-content;
    width: fit-content;
    padding: 3px 10px;
    margin: 0px 2px;
    font-weight: bold;
    align-content: center;
    font-size: 11px;
    background-color: #fff;
    border-radius: 3px;
    color: #333;
    box-shadow: 1px 4px 0 rgb(0,0,0,0.5);
}
/* 체크된 체크박스 라벨 스타일 */
.checkBox input[type=checkbox]:checked+label {
    background-color: #ae0085;
    color: #fff;
    box-shadow: 1px 1px 0 rgb(0,0,0,0.5);
}
/* 체크박스 라벨 호버 스타일 */
.checkBox input[type=checkbox]+label:hover {
    /*background-color: #ae0085;*/
    /*color: #fff;*/
}