.popup {
    display: none;
}

@media (min-width: 701px) {
    .popup {
        display: block;
        position: fixed;
        top: 2px;
        right: 2px;
        width: 160px;
        border-radius: 15px;
        background-color: #ffffff7d;
        box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);
    }

    .popup-header {
        background-color: #ffffff;
        padding: 10px;
        font-weight: bold;
        border-bottom: 1px solid #ddd;
        text-align: center;
    }

    .popup-body {
    }

    .popup-item {
        padding: 20px;
        border-bottom: 1px solid #ffffff61;
        cursor: pointer;
    }

    .popup-item:last-child {
        border-bottom: none;
    }
}