:root {
    --skycolar: 248, 73, 108;
    --white: 255, 255, 255;
    --alpha1: 1;
    --alpha08: 0.8;
    --alpha05: 0.5;
    --alpha04: 0.4;
    --alpha03: 0.3;
    --alpha02: 0.2;
    --alpha01: 0.1;
    --alpha005: 0.05;
}

#header {
    text-align: center;
}

#header #map-title {
    font-size: 31px;
    padding: 20px;
    font-weight: bold;
}

#pageContents {
    margin: 0;
    padding: 0;
    display: flex; /* body를 Flexbox로 설정하여 하위 요소를 좌우로 배치 */
    height: 80vh;
}

#leftContainer {
    flex: 1;
    height: 100%;
    display: flex;
    flex-direction: column; /* 상하로 배치 */
}

#rightContainer {
    padding: 20px;
    text-align: -webkit-center;
    background-color: rgba(var(--white), var(--alpha04));
    overflow-y: auto;
    min-width: min-content;
    padding-left: 14px;
    padding-right: 2px;
}

#map {
    height: 100%;
    width: 100%;
}

@media only screen and (max-width: 700px) {
    #rightContainer {
        display: none;
    }
}

@media only screen and (min-width: 701px) {
    #leftContainer {
        flex: 1;
    }

    #rightContainer {
        flex: 1;
        max-width: 30%;
        transition: max-width 0.7s ease;
    }
}

.mapBtn {
    height: inherit;
    margin: 7px;
    border-radius: 14px;
    border-style: ridge;
    position: fixed;
    width: fit-content;
    z-index: 5;
    text-align: center;
    align-content: center;
    padding: 0px 12px;
    text-decoration: none;
    font-weight: bold;
    cursor: pointer;
    overflow: hidden;
    transition: 0.5s all;
    overflow: hidden;
}
.btnRelocation {
    background: seagreen;
    color: bisque;
}
.btnZoom {
    left: 106px;
    background: oldlace;
    color: darkgreen;
    text-shadow: 1px 1px rgb(255 198 198);
}

.btnRuler {
    left: 202px;
    background: oldlace;
    color: darkgreen;
    width: 70px;
    text-shadow: 1px 1px rgb(255 198 198);
    cursor: url('/img/ruler.png'), auto;
}
.rulerCursor {
    cursor: url('/img/ruler.png'), auto;
}
/*자 글씨체*/
.rulerDistance {
    text-shadow: 2px 2px rgb(255, 255, 255);

    font-style: italic;
    width: fit-content;
    height: fit-content;
    border-radius: 2px;
    padding: 1px 2px;
    font-weight: 900;

}
.rulerDobo {

}

.imgInBtn {
    width: 62px;
}

.mapBtn:after {
    content: '';
    position: absolute;
    top: calc(50% - 50px);
    left: -50px;
    width: 20px;
    height: 100px;
    background: white;
    -webkit-transform: rotate(30deg);
    transform: rotate(30deg);
    -webkit-transition: all 1000ms cubic-bezier(0.23, 1, 0.32, 1);
    transition: all 1000ms cubic-bezier(0.23, 1, 0.32, 1);
    opacity: 0;
}

.mapBtn:hover:after{
    left: calc(100% + 50px);
    opacity: 1;
}

#btnContainer {
    position: absolute;
    height: 38px;
}

#noResult {
    background: #575757;
    width: fit-content;
    z-index: 1;
    top: 50%;
    left: 50%;
    margin-left: -67px;
    margin-top: -96px;
    height: fit-content;
    position: absolute;
    border-radius: .4em;
    padding: 7px 19px;
    color: ghostwhite;
    border-style: outset;
    font-family: 'TTHakgyoansimMonggeulmonggeulR', "Noto Sans KR" !important;

}
@font-face {
    font-family: 'TTHakgyoansimMonggeulmonggeulR';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2402_keris@1.0/TTHakgyoansimMonggeulmonggeulR.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}


/* ============== 마커 디자인 ================ */
.marker_category {
    font-weight: bold;
    font-family: 'Noto Sans KR', 'sans-serif';
    color: black !important;
    background: linear-gradient(to bottom, #ffffff, #bababa);
    border-radius: 20px;
    padding: 6px 13px;
    border-bottom: groove;
}

.marker_category a {
    color: #121212;
    text-decoration: none;
    background-color: transparent;
    font-size: larger;
    text-shadow: 1px 1px #dbdbdb;
}

.marker_place a {
    background-color: white;
    color: cadetblue;
    font-weight: bold;
    border-radius: 10px;
    padding: 4px;
    font-size: medium;
    text-decoration: none;
    text-shadow: 1px 1px #dddddd;
}

.marker_category:hover {
    color: black !important;
    text-decoration: none;
}

.marker_place {
    background-color: white;
    border-radius: 10px;
    padding: 4px;
    font-size: medium;
    border-bottom: ridge;
}

.marker_home {
    position: relative;
}

.marker_category {
    pointer-events: auto;
}

.marker_emoji {
    position: relative;
    font-size: 33px;
    font-weight: bold;
    text-shadow: -3px -3px 0 #ffffff, 3px -3px 0 #ffffff, -3px 3px 0 #cdcdcd, 3px 3px 0 #ffffff;
}

.marker_emoji a {
    text-decoration: none;
}

#map-title a {
    color: rgba(255, 255, 255, 0.5);
}

#map-title a:before {
    color: #fff;
    content: attr(data-hover);
    position: absolute;
    -webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
    -moz-transition: -moz-transform 0.3s, opacity 0.3s;
    transition: transform 0.3s, opacity 0.3s;
}

#map-title a:hover:before, #map-title a:focus:before {
    -webkit-transform: scale(0.9);
    -moz-transform: scale(0.9);
    transform: scale(0.9);
    opacity: 0;
}

/*검색결과 테이블 같은*/
.findings {
    display: table;
    text-align: left;
    margin-top: 20px;
    border-collapse: collapse;

}

.finding:last-child {
    border-bottom: none;
}

.finding {
    display: table-row;
    border-bottom: 1px solid #ffd8d8;

}

.f {
    display: table-cell;
    align-content: center;
}

.fCategory {
    padding-right: 5px;
    width: 57px;
    min-width: 57px;
    font-size: medium;
    height: fit-content;
    color: saddlebrown;
    font-weight: 500;
}

.fTitle {
    font-size: 0.91rem;
    padding: 6px 0px;
    word-break: keep-all;
}