/*컨텐츠 공통 (모달, 오른쪽 모두)*/
.place-title {
    word-break: keep-all;
}

.place-contents {
    word-break: keep-all;
}

.place-img {
    width: 100%;
    height: auto;
    margin: 10px 0px;
}
.place-img img {
    border-radius: 10px;
}

.place-category {
    font-size: 15px;
    background-color: rgba(var(--skycolar), var(--alpha08));
    width: fit-content;
    border-radius: 15px;
    padding: 5px 10px;
    margin-right: 1%;
    word-break: keep-all;
    color: honeydew;
    text-shadow: 1px 1px firebrick;
}

/*모달 전용*/
.modal-header{
    align-items: center;
    padding: 4% 5% 1% 5%;
}
.modal-body{
    text-align: -webkit-center;
    padding: 0% 5%;
}

.modal-content {
    background-color: rgba(var(--white), var(--alpha08));
}

.modal-body .place-contents {
    background-color: rgba(var(--skycolar), var(--alpha02));
    padding: 5px 25px;
    border-radius: 16px;
    border: ridge;
    max-width: fit-content;
}

.modal-body .place-img img {
    max-width: -webkit-fill-available;
    width: 80%;
    border-style: ridge;
    border-radius: 10px;
    margin: 0% 10%;
}

.modal-header .place-title {
    font-size: larger;
    font-weight: bold;
    text-align: -webkit-center;
    margin-bottom: 0px;
    border-bottom: 0px;
}

.modal-header {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: start;
    -ms-flex-pack: justify;
    align-self: center;
    padding: 15px;
}

/*오른쪽 컨테이너 전용*/
#rightContainer {
    padding: 20px;
    text-align: -webkit-center;
    background-color: rgba(var(--white), var(--alpha04));
    overflow-y: scroll;
}

#rightContainer .place-img img{
    border-style: ridge;
    width: 70%;
}

#rightContainer .place-contents {
    background-color: rgba(var(--skycolar), var(--alpha02));
    padding: 5px 25px;
    border-radius: 16px;
    border: ridge;
    max-width: fit-content;
}

.right-container-header {
    display: flex;
    justify-content: center;
    align-items: center;
}

#rightContainer .place-title {
    font-size: larger;
    font-weight: 600;
    margin-right: 45px;
}

/*초기 오른쪽 컨테이너 설정 전용*/
#initialRightContainerTitle h3 {
    color: black;
    margin: 0;
    text-shadow: 0 0 7px #fff, 0 0 10px #ffcfcf, 0 0 21px #fff, 0 0 42px rgb(255 202 202), 0 0 82px rgb(255 255 255), 0 0 92px rgb(255 255 255), 0 0 102px rgb(255 255 255), 0 0 151px #ffffff;
}

#initialRightContainerTitle span {
    color: #c60000;
}

/*왼쪽 컨테이너 (지도)*/
#leftContainer {
    box-shadow: 0 0 20px white;
}

#right-container-close{
    position: absolute;
    right: 20px;
}

#rightContainer .table td, #rightContainer .table th {
    padding: .3rem;
    word-break: keep-all;
    vertical-align: top;
    border-top: 1px solid #dee2e6;
}