/*컨텐츠 공통 (모달, 오른쪽 모두)*/
.place-title {
    word-break: keep-all;
}

.place-contents {
    word-break: keep-all;
}

.place-img {
    width: 100%;
    height: auto;
    margin: 10px 0px;
}
.place-img img {
    border-radius: 10px;
}

.place-category {
    font-size: 15px;
    background-color: rgba(var(--skycolar), var(--alpha08));
    width: fit-content;
    border-radius: 15px;
    padding: 5px 10px;
    word-break: keep-all;
    color: honeydew;
    text-shadow: 1px 1px firebrick;
    margin: auto;
    display: inline-block;
}

.modal-header .close {
    position: absolute;
    left: 88%;
}

#ContentBtnContainer{
    padding: 7px 0px;
}

.btnPathCopy, .btnPlaceDetail {
    border-radius: 12px;
    padding: 3px 9px;
    border-style: hidden;
    box-shadow: 0px 1px 0px midnightblue;
    background: lavender;
    text-shadow: 1px 0px aliceblue;
    font-size: 15px;
    font-weight: 400;
    letter-spacing: 1px;
    margin: 0px 6px;
}



/*모달 전용*/
.modal-header{
    align-items: center;
    padding: 4% 5% 1% 5%;
    align-self: center;
}

.modal-body{
    text-align: -webkit-center;
    padding: 0% 5%;
}

.modal-content {
    background-color: rgba(var(--white), var(--alpha08));
}

.modal-body .place-contents {
    background-color: rgba(var(--skycolar), var(--alpha02));
    padding: 5px 25px;
    border-radius: 16px;
    border: ridge;
    max-width: fit-content;
}

.modal-body .place-img img {
    max-width: -webkit-fill-available;
    width: 80%;
    border-style: ridge;
    border-radius: 10px;
    margin: 0% 10%;
}

.modal-header .place-title {
    font-size: larger;
    font-weight: bold;
    text-align: -webkit-center;
    margin-bottom: 0px;
    border-bottom: 0px;
    padding: 0px 12px;
}

#rightContainer .place-img img{
    border-style: ridge;
    width: 70%;
}

#rightContainer .place-contents {
    background-color: rgba(var(--skycolar), var(--alpha02));
    padding: 5px 25px;
    border-radius: 16px;
    border: ridge;
    max-width: fit-content;
    margin: 19px 6px;
}

.right-container-header {
    justify-content: center;
    align-items: center;
    padding: 10px 6px;
}

#rightContainer .place-title {
    font-size: larger;
    font-weight: 600;
    margin-right: 45px;
    margin-left: 10px;
    display: inline-block;
}

#initialRightContainerTitle {
    padding-top: 18px;
    padding-bottom: 6px;
    position: relative;
    color: #252525;
    font-weight: 600;
    letter-spacing: 2px;
    margin: 0;
    text-shadow: 0 0 7px #fff, 0 0 10px #ffcfcf, 0 0 21px #fff, 0 0 42px rgb(255 202 202), 0 0 82px rgb(255 255 255), 0 0 92px rgb(255 255 255), 0 0 102px rgb(255 255 255), 0 0 151px #ffffff;
}

#initialRightContainerTitle span {
    color: #c60000;
}

/*왼쪽 컨테이너 (지도)*/
#leftContainer {
    box-shadow: 0 0 20px white;
}

#right-container-close{
    position: absolute;
    right: 20px;
}


/*토스트 메시지*/
#toast_message, #confusionToast{
    word-break: keep-all;
    opacity: 0;
    position: fixed;
    bottom: -100px;
    left: 50%;
    transform: translate(-50%,0);
    padding: 10px 50px;
    background: rgba(0, 0, 0, 0.70);
    border-radius: 100px;
    color: #fff;
    box-shadow: 3px 4px 11px 0px #00000040;
    transition: all 0.5s;
    z-index: 100;
}


@media (max-width: 477px) {
    #toast_message, #confusionToast {
        font-size: 16px;
        min-width: 65%;
    }
}

/*토스트 메시지 활성화 되었을 때*/
#toast_message.active, #confusionToast.active{
    opacity: 100%;
    bottom: 50px;
}

