html,body {
  height: 100%;
}

body {
  display: flex;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #f5f5f5;
}

.form-sign {
  width: 100%;
  max-width: 530px;
  padding: 15px;
  margin: auto;
}

.form-sign .checkbox {
  font-weight: 400;
}

.form-sign .form-floating:focus-within {
  z-index: 2;
}

.tagify__tag-text, .tagify__input {
	white-space: nowrap !important;
}

.bd-placeholder-img {
font-size: 1.125rem;
text-anchor: middle;
-webkit-user-select: none;
-moz-user-select: none;
user-select: none;
}

@media (min-width: 768px) {
.bd-placeholder-img-lg {
  font-size: 3.5rem;
}
}

body{
flex-direction: column;
}

#main-title{
margin : auto;
align-items : center;
display : flex;
}

.form-control{
margin: 10px 0px;
padding-top: 10px;
}

.tagify{
overflow: auto;
flex-wrap:nowrap;
max-width:200px;
min-width:200px;
}

table{
    margin: auto
}

#submit-button{
    text-align: center
}

tags{
overflow: auto;
}

.table-head{
    width:100px;
    max-width:100px;
    min-width:100px;
}