
.tagify__tag-text, .tagify__input {
	white-space: nowrap !important;
}

.bd-placeholder-img {
font-size: 1.125rem;
text-anchor: middle;
-webkit-user-select: none;
-moz-user-select: none;
user-select: none;
}

@media (min-width: 768px) {
.bd-placeholder-img-lg {
  font-size: 3.5rem;
}
}

body{
flex-direction: column;
}


table{
    margin: auto
}

#submit-button{
    text-align: center
}

tags{
overflow: auto;
}

#searchStatus {
    font-size: 24px;
    font-weight: bold;
    color: red;
}