@font-face {
  src: url("https://www.axis-praxis.org/fonts/webfonts/MetaVariableDemo-Set.woff2")
  format("woff2");
  font-family: "Meta" !important;
  font-style: normal;
  font-weight: normal;
}

#serviceTitle, #submitBtn {
  width: 100%;
  transition: all 0.5s;
  /*-webkit-text-stroke: 4px #d6f4f4;*/
  font-variation-settings: "wght" 900, "ital" 1;
  font-style: italic;
  font-size: 3rem;
  text-align: center;
  margin-bottom: 2%;
  color: transparent;
  font-family: "Meta", sans-serif;
  text-shadow: 4px 4px 0px #1cd3e2,
  7px 7px 0px #7d4a74,
  10px 10px 0px #e9019a,
  13px 13px 0px #f40468,
  16px 16px 10px #fffee5;
  cursor: pointer;
  font-weight: 900;
}

#serviceTitle:hover {
  -webkit-text-stroke: 2px #d6f4f4;
  text-shadow: none;
  padding-top: 15px;
}

#serviceTitle:hover + #contentBody #inputContainer #form .qes1 {
  transform: translateY(10px);
}
#serviceTitle:hover + #contentBody #inputContainer #form .qes2 {
  transform: translateY(10px);
}
#serviceTitle:hover + #contentBody #inputContainer #form .qes3 {
  transform: translateY(10px);
}
#serviceTitle:hover + #contentBody #inputContainer #form .qes4 {
  transform: translateY(10px);
}

.qes1 {
  transition-duration: 0.5s;
}
.qes2 {
  transition-duration: 0.8s;
}
.qes3 {
  transition-duration: 1.2s;
}
.qes4 {
  transition-duration: 2s;
}