html {
    width: 100%;
    height: 100%;
}

body {
    text-align: -webkit-center;
    margin: 2px 0px 0px 0px;

    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;

    background-size: cover;
    background-position: center;
    background-image: linear-gradient(
            rgba(255, 255, 255, 0.2),
            rgba(255, 255, 255, 0.2)
    ), url('/img/sample_body_img.png');
}

* {
    font-family: "Noto Sans KR" !important;
}