html {
    width: 100%;
    height: 100%;
}

body {
    text-align: -webkit-center;
    width: 100%;
    height: 100%;
    position: fixed;
    overflow: hidden;


    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: linear-gradient(
            rgba(255, 255, 255, 0.2),
            rgba(255, 255, 255, 0.2)
    ), url('/img/sample_body_img.png');
}

* {
    font-family: "Noto Sans KR" !important;
}