html {
}

body {
    text-align: -webkit-center;

    min-height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: linear-gradient(
            rgba(255, 255, 255, 0.2),
            rgba(255, 255, 255, 0.2)
    ), url('/img/sample_body_img.png');
}

* {
    font-family: "Noto Sans KR" !important;
}