<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/index-header :: header"/>
<body>
    <div id="loading" style="display: none;">
        <img src='https://tistory2.daumcdn.net/tistory/1898109/skin/images/Spinner.gif' style='position: relative; display: block; margin: 0px auto;'/>
    </div>
    <div id="main-title">
        <!-- <h2>서울 지금 여기</h2> -->
            <h3>서울 지금 여기</h3>
            <br>
            <h3>Seoul, Now, Here</h3>
    </div>

    <main class="mainContents">
        <div id="inputContainer">
            <form id="form" role="form" action="/culture/search" th:object="${cultureForm}", method="get">
                <table>
                    <tbody>
                    <tr>
                        <td class="table-head"><label for="moods">지금 기분이 어떤가요?</label></td>
                    </tr>
                    <tr>
                        <td><input id="moods" class="mainInput" name="moods" th:field="*{moods}"></td>
                    </tr>
                    <br>
                    <tr>
                        <td class="table-head"><label for="time">어느정도 거리가 괜찮을까요?</label></td>
                    </tr>
                    <tr>
                        <td><input type="number" class="form-control mainInput normal-main-input" id="time" name="time" placeholder="" th:field="*{time}"></td>
                    </tr>
                    <tr>
                        <td>
                            <input type="radio" id="walking" class="mainInput" name="howToGo" value="WALKING" th:checked="${cultureForm.howToGo == 'WALKING'}">
                            <label for="walking">도보</label>
                            <input type="radio" id="driving" class="mainInput" name="howToGo" value="DRIVING" th:checked="${cultureForm.howToGo == 'DRIVING'}">
                            <label for="driving">차량</label>
                        </td>
                    </tr>
                    <tr>
                        <td class="table-head"><label for="price">비용은 어느정도가 좋을까요?</label></td>
                    </tr>
                    <tr>
                        <td><input type="number" class="form-control mainInput normal-main-input" id="price" name="price" placeholder="" th:field="*{price}"></td>
                    </tr>
                    <tr>
                        <td>무료 <input type="checkbox" id="free" class="mainInput" th:checked="${cultureForm.price == 0}"></td>
                    </tr>
                    <tr>
                        <td class="table-head">어디 주변으로 알아볼까요?</td>
                    </tr>
                    <tr>
                        <div id="spotInputBox">
                            <td><input type="text" id="searchInput" class="mainInput normal-main-input" name="spot" autocomplete="off"></td>
                        </div>
                    </tr>
                    <tr>
                        <td><div id="searchResults"></div></td>
                    </tr>
                    </tbody>
                </table>
                <div id="submit-button">
                    <button id="submitBtn" type="submit" class="btn btn-primary">Let's go!</button>
                </div>
            </form>

<!--            <div id="spotInputBox">-->
<!--                <div>장소 지정하기</div>-->
<!--                <input type="text" id="searchInput" class="mainInput" name="spot" autocomplete="off">-->
<!--                <div id="searchResults"></div>-->
<!--            </div>-->
        </div>
    </main>
<div id="searchStatus" style="display: none;">검색 중입니다...</div>
</body>
</html>


<!--검색 자동완성-->
<script  src="/js/spot.js"></script>