<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="header">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>츄츄</title>

    <!-- 참고: api key 노출돼도 큰 문제 없다고 함. kakao dev에서 이 key를 사용할 플랫폼 등록하는 구조기 떄문.-->
    <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=f2878141664ba508ffc07eaf2a35a9ac"></script>
    <link rel="stylesheet" href="/css/map.css">
</head>
<body>
<div id="header">
    <h2>지금 뭐 하 러 갈 까?</h2>
</div>

<div id="contents">
    <div id="leftContainer">
        <div id="map"></div>
        <div id="markerContainer">
            <div id="markerList"></div>
            <div id="markerContents">
                <div id="markerName"></div>
                <div id="markerPrice"></div>
            </div>
        </div>
    </div>
    <div id="rightContainer">
        <p>모달 띄울 곳</p>
    </div>
</div>
<script th:inline="javascript" >
    const markerInfo = /*[[${markerInfo}]]*/ null;
</script>
<script type="text/javascript" src="/js/map_marker.js"></script>
</body>
</html>
