<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <p class="place-category">[카테고리]</p>
                <p class="place-title">[문화 이름]</p>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="place-img">
                    <img src="sample.jpeg" alt="">
                </div>
                <div class="place-contents">
                    <p>[세부 설명]</p>
                </div>
                <div class="place-price">
                    <p>[가격]</p>
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btnPathCopy">경로 보기</button>
                <button type="button" class="btnPlaceDetail place-detail">자세히 보기</button>
            </div>
        </div>
    </div>
</div>