<h3 id="reSearchTitle" class="animate__animated animate__pulse"> 다시 검색하기 </h3>
<div id="descriptionContainer">
    거리를 조금 더 늘려보세요.<br>
    또는 출발 위치를 변경해보세요.
</div>
<div id="inputContainer">
    <form id="form" role="form" action="/culture/search" th:object="${cultureForm}", method="get">
        <div class="question qes2">
            <div class="qesLabel">어디에서 출발하나요?</div>
            <div id="searchBox">
                <input type="text" id="searchInput" onkeyup="searchSpots();" class="mainInput" name="spot" autocomplete="off" required>
                <div id="searchResults"></div>
            </div>
            <div class="checkBox">
                <div>
                    <input type="checkbox" id="myLocation" onclick='toggleLocationBox(this)'>
                    <label for="myLocation">내 위치 기준</label>
                </div>
            </div>
        </div>
        <div class="question qes3">
            <div class="qesLabel">몇 분 안으로 갈까요?</div>
            <input type="number" class="mainInput minInput" id="time" name="time" placeholder="" th:field="*{time}"
                   required min="1" oninput='handleOnInput(this, 5)' onKeyup="this.value=this.value.replace(/[^0-9]/g,'');">
            <div class="checkBox select">
                <input type="radio" id="walking" class="" name="howToGo" value="WALKING" th:checked="${cultureForm.howToGo == 'WALKING'}">
                <label for="walking">도보</label>
                <input type="radio" id="driving" class="" name="howToGo" value="DRIVING" th:checked="${cultureForm.howToGo == 'DRIVING'}">
                <label for="driving">차량</label>
            </div>
        </div>
        <div id="submit-button">
            <button id="reSubmitBtn" class="reSubmitBtn" type="submit">Go!</button>
        </div>
    </form>
</div>