<div id="initialRightContainerTitle">
    <h3><span style="color: #c60000;">[[${markerInfo.size()}]]</span>곳을 찾았어요</h3>
</div>
<div class="findings">
    <div class = "finding" th:each="marker : ${markerInfo}">
        <div class = "" style="display:none" th:id="'list_'+${marker.id}"></div>
        <div class = "f fCategory" th:text="${marker.category}"></div>
        <div class = "f fTitle" th:text="${marker.title}" th:onclick="findMarkerAndOpen([[${marker.id}]])"></div>
    </div>
</div>

<br>
<p>TODO 1: 맵 이외의 공간 누르면 다시 이상태로 복구<br></p>
<p>TODO 2: 못찾았으면, 바로 이 공간에서 재검색하도록 하기<br></p>
<p>TODO 3: 찾았어도, 거리 재설정 가능하게 하기<br></p>
<p>TODO 4: 누른 콘텐츠가 강조되어야함.<br></p>
<p>        이때 불필요한 재검색은 막기 (오래걸리니까)<br></p>