<div class="right-container-header">
    <div class="place-category">[카테고리]</div>
    <div class="place-title">[문화 이름]</div>
    <button type="button" id='right-container-close' class="btn-close" aria-label="Close" onClick='hideRightContent();'></button>
</div>

<div class="right-container-body">
    <div class="place-img">
        <img src="sample.jpeg" alt="">
    </div>
    <div class="place-contents">
        <div>[세부 설명]</div>
    </div>
    <div class="place-price">
        <div>[가격]</div>
    </div>
    <button type="button" class="btn btn-secondary path">경로 보기</button>
    <button type="button" class="btn btn-primary place-detail">자세히 보기</button>
</div>